/apostrophe.py
/app_compartida.py
/Avisador_de_precios.py
/casos.py
/compras.txt
/compras_txt
/diccinario_calculadora.py
/El Chequeo de Nevera.py
/El Gestor de Citas Rápido.py
/El Semáforo de Prioridades.py
/hello_world.py
/lista de la compra.py
/lista_dinamica.py
/mis_gastos.txt
/mi_despensa.json
/mi_lista.txt
/mi_lista_compra.csv
/ms-azuretools.vscode-containers-2.4.1.vsix
/My_list.py
/nombre.py
/nombre_completo.py
/python_crash_curse.py
/ramen_japones.py
/simple_message.py
/simple_messages.py
/ticket_20260329_185315.txt
/ticket_20260329_185751.txt
/ticket_20260329_190206.txt
/ticket_compra.txt
/To-Do List.py
/tu primera App.py